USE [master]
GO
/****** Object:  Database [DBPratech]    Script Date: 21/07/2019 13:50:25 ******/
CREATE DATABASE [DBPratech]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBPratech', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DBPratech.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBPratech_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DBPratech_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBPratech].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBPratech]
GO
/****** Object:  Table [dbo].[registros]    Script Date: 21/07/2019 13:50:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registros](
	[cedula] [int] NOT NULL,
	[apellidos] [varchar](255) NULL,
	[correo] [varchar](255) NULL,
	[nombre] [varchar](255) NULL,
	[password] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[registros] ([cedula], [apellidos], [correo], [nombre], [password]) VALUES (10, N'moncada', N'siul93@live.com', N'luis', N'123456')
INSERT [dbo].[registros] ([cedula], [apellidos], [correo], [nombre], [password]) VALUES (11, N'toro', N'siul93@live.com', N'Diana', N'12345')
USE [master]
GO
